.container {
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    background: silver;
}

.blocks {
    padding: 50px;
    height: 500px;
}

.element {
    width: 200px;
    height: 30px;
}

.css_coding {
    display: none;
}